@use '../../UI/colors.scss' as *;

.text-editor {
    margin-top: 35px;
    &__text {
        width: 100%;
        font-size: 18px;
        outline: none;
        border: none;
        min-height: 250px;
        resize: none;
        padding: 10px;
    }
}

.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}
