@use '../../../UI/colors.scss' as *;

.skeleton {
    background-color: $main-white;
    height: 600px;
    border-radius: 10px 10px 10px 10px;

    width: 800px;
    &__post {
        background-repeat: no-repeat;
        border-radius: 10px 10px 0 0;
        height: 100%;
        background-image: linear-gradient(
                to right,
                rgb(223, 223, 223),
                transparent 100%
            ),
            radial-gradient(circle 25px, red 100%, transparent 0%),
            linear-gradient(to right, red 100%, transparent 0%);
        background-size: 100% 450px, 55px 55px, 100px 15px;
        background-position: 0 0, 20px 473px, 70px 471px;
    }
}
