.root {
    width: 400px;
    padding: 50px;
    border: 1px solid #dedede;
    margin: 50px auto;
}

.field {
    margin-bottom: 20px !important;
}

.title {
    text-align: center !important;
    font-weight: bold !important;
    margin-bottom: 30px !important;
}

.wrapperPassword {
    position: relative;
}

.eye {
    position: absolute;
    top: 18px;
    right: 5%;
    cursor: pointer;
}

.hide {
    opacity: 0;
}

.error {
    display: block;
    margin: 10px auto;
    text-align: center;
}

.loading {
    animation: loading 1s linear infinite normal none;
}

@keyframes loading {
    from {
        rotate: 0deg;
    }
    to {
        rotate: 360deg;
    }
}
