@use '../../UI/colors.scss' as *;

.register {
    border-radius: 10px;
    background-color: $main-white;
    text-align: center;
    padding: 30px 25px;
    min-height: 485px;
    margin-left: auto;
    margin-right: auto;

    form {
        display: flex;
        flex-direction: column;
        margin-top: 15px;
        button {
            margin-top: 60px;
        }
    }

    .error-border {
        outline: 2px solid red;
        border: none;
    }

    &__error {
        position: absolute;
        top: 105%;
        width: 100%;
        left: 50%;
        transform: translateX(-50%);
        background-color: none;
        font-size: 12px;
    }

    &__wrapper {
        h3 {
            font-size: 30px;
        }
    }

    &__password {
        position: relative;

        margin-bottom: 20px;
        &__last {
            position: relative;
            margin-bottom: 0;
        }
    }

    &__password-visible {
        position: absolute;
        right: 15px;
        top: 50%;
        transform: translateY(-40%);
    }

    &__img {
        margin-left: auto;
        margin-right: auto;
        display: block;
        margin-top: 30px;
        border-radius: 100%;
        padding: 15px;
        background-color: $main-grey;
        width: 80px;
    }
}
