@use '../../../UI/colors.scss' as *;

.skeleton {
    background-color: $main-white;
    height: 600px;
    border-radius: 10px 10px 10px 10px;
    width: 800px;
    &__post {
        animation: fade 0.7s linear infinite alternate;
        background-repeat: no-repeat;
        border-radius: 10px 10px 0 0;
        height: 100%;
        background-image: linear-gradient(
                to right,
                $skeleton 0%,
                transparent 100%
            ),
            radial-gradient(circle 25px, $skeleton 100%, transparent 100%),
            linear-gradient(to right, $skeleton 0%, transparent 100%),
            linear-gradient(to right, $skeleton 0%, transparent 100%),
            linear-gradient(to right, $skeleton 0%, transparent 100%);
        background-size: 100% 450px, 55px 55px, 100px 15px, 200px 15px,
            250px 25px;
        background-position: 0 0, 20px 473px, 86px 477px, 86px 497px, 86px 545px;
    }
}

@keyframes fade {
    from {
        opacity: 0.4;
    }
    to {
        opacity: 1;
    }
}
