.home {
    padding: 0;

    &__posts {
        display: flex;
        width: 100%;
    }

    &__error {
        text-align: center;
    }
}

.info {
    max-width: 30%;
    margin-left: 20px;
    .comments {
        margin-top: 30px;
    }
}
