.home {
    padding: 0;

    &__posts {
        display: grid;
        grid-template-columns: 70% 28%;
        column-gap: 20px;
    }

    &__error {
        text-align: center;
    }
    &__skeleton-wrap {
        display: flex;
        flex-direction: column;
    }
}

.info {
    .comments {
        margin-top: 30px;
    }
}
