@use '../../UI/colors.scss' as *;

.comment {
    display: flex;
    margin-bottom: 15px;
    &__photo {
        display: block;
        margin-right: 10px;
        border-radius: 100%;
        width: 40px;
        height: 40px;
    }
    &__info {
        position: relative;
        h4 {
            margin-bottom: 5px;
        }
        &::after {
            display: block;
            position: absolute;
            bottom: -7px;
            content: '';
            height: 2px;
            width: 100%;
            border-bottom: 2px solid rgba(197, 197, 197, 0.5);
        }
    }
}
