@use '../../UI/colors.scss' as *;

.comments {
    position: relative;
    h3 {
        margin-bottom: 20px;
    }
    padding: 10px;
    border-radius: 10px;
    background-color: $main-white;

    .comment:not(:last-child) {
        ::after {
            display: block;
            position: absolute;
            bottom: -7px;
            content: '';
            height: 2px;
            width: 100%;
            border-bottom: 2px solid rgba(197, 197, 197, 0.5);
        }
    }
}
