@use '../../UI/colors.scss' as *;

.post {
    border-radius: 10px;
    background-color: $main-white;
    &__img {
        width: 100%;
        border-radius: 10px 10px 0 0;
    }

    &__info {
        margin-left: 70px;
        padding: 10px;
        color: $grey-text;
    }

    &__title {
        font-size: 25px;
        margin-top: 15px;
        font-weight: 600;
        color: black;
    }
    &__author {
        position: relative;
        img {
            position: absolute;
            left: -60px;
            border-radius: 100%;
            width: 50px;
        }
    }
    &__views-block {
        display: flex;
        align-items: center;
        margin-top: 15px;
        &__count {
            margin-left: 7px;
        }
        &__views {
            display: flex;
            align-items: center;
            margin-right: 20px;
        }
    }
}

.author {
    &__info {
        h4 {
            color: black;
        }
    }
}
