@use '../../UI/colors.scss' as *;

.post {
    border-radius: 10px;
    background-color: $main-white;
    &__img {
        width: 100%;
        border-radius: 10px 10px 0 0;
    }

    &__info {
        padding: 10px;
    }
    &__author {
        img {
            border-radius: 100%;
            width: 50px;
        }
    }
}
