@use '../../UI/colors.scss' as *;

.header {
    width: 100%;
    padding: 10px;
    border-bottom: 2px solid rgba(209, 209, 209, 0.8);
    background-color: $main-white;

    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 1200px;
        margin: 0 auto;
    }
    h1 {
        font-size: 20px;
        padding: 5px 10px;
        color: white;
        border-radius: 4px;
        background-color: black;
    }
    .buttons-block {
        :first-child {
            margin-right: 10px;
        }
    }
}
