@use '../../UI/colors.scss' as *;

.footer {
    padding: 30px 0;
    border-top: 2px solid rgba(209, 209, 209, 0.8);
    background-color: $main-white;

    &__container {
        display: flex;
        justify-content: space-between;
        max-width: 1200px;
        margin: 0 auto;
    }
    &__logo {
        font-size: 40px;
        color: rgb(50, 50, 50);
    }

    &__social-wrapper {
        p {
            text-align: center;
            font-size: 18px;
            margin-bottom: 10px;
        }
    }

    &__social {
        display: flex;
        justify-content: center;
        align-items: center;
        list-style: none;

        li {
            padding: 2px;
            width: max-content;
            border-radius: 3px;
            cursor: pointer;
            margin-right: 15px;
            transition: all 0.3s;

            &:hover {
                scale: 1.2;
            }
            &:last-child {
                margin-right: 0;
            }
        }
    }

    &__company {
        p {
            font-size: 24px;
        }
        ul {
            list-style: none;
        }
        li {
            margin-top: 5px;
            font-size: 18px;
        }
    }
}
